:root {
  --primary-blue: #003087;
  --secondary-blue: #00a4fa; 
  --accent-yellow: #FFB81C;
  --white: #FFFFFF;
  --light-gray: #f5f5f5;
  --border-gray: #e0e0e0;
}

.App {
  text-align: center;
  background-color: var(--white);
  min-height: 100vh;
}

.App-header {
  background-color: var(--primary-blue);
  padding: 2rem;
  color: var(--white);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 110%;
}

.App-header h1 {
  margin: 0;
  font-size: 2.5rem;
}

.leaderboard-container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid var(--border-gray);
}

.leaderboard-table th {
  background-color: var(--primary-blue);
  color: var(--white);
  font-weight: 600;
}

.leaderboard-table tr:nth-child(even) {
  background-color: var(--light-gray);
}


.leaderboard-table tr:hover {
  background: linear-gradient(to right, var(--primary-blue) 10%, 20%, var(--accent-yellow) 90%);
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.leaderboard-table td { 
  transition: background-color 0.3 ease;
}

.icon-button {
  background-color: var(--primary-blue); 
  border: none; 
  border-radius: 5px; 
  padding: 10px; 
  cursor: pointer; 
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

.App-header h1 { 
  margin: 0;
  text-align: center;
  flex-grow: 1;
}

.App-header button {
  margin-right: auto;
}

@media (max-width: 768px){
  .App-header {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .App-header h1 { 
    font-size: small;
  }
  
  .leaderboard-table {
    font-size: medium;
    margin: auto;
  }

  .icon-button { 
    margin-bottom: 1rem;
  }

  .leaderboard-table tr:hover {
    background: var(--accent-yellow);
    color: var(--white);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}